/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-cart-primary {
  background-image: url(../images/sprite.png);
  background-position: 0px -65px;
  width: 40px;
  height: 35px;
}
.icon-cart-secundary {
  background-image: url(../images/sprite.png);
  background-position: -45px -65px;
  width: 30px;
  height: 30px;
}
.icon-logo-primary {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-logo-secundary {
  background-image: url(../images/sprite.png);
  background-position: -65px 0px;
  width: 60px;
  height: 60px;
}
