// Global

.hero {
    height: 765px;
    color: $primary-color;
    background: #d4e9e2 image-url('background.jpg') 0 0 repeat-x;
    @media screen and (max-width: $tablet){
        height: auto;
        padding: 150px 0 100px 0;
        background-image: none;
    }

    .hero__banner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        margin-left: -360px;
        @media screen and (max-width: $tablet){
            margin-left: -360px;
            position: relative;
            top: auto;
            left: auto;
            margin: 0;
            max-width: 100%;

            display: none;
            // A imagem tá zuada, não tinha
            // como extrair o PNG então ficou difícil
            // de manipular ela no responsivo.
        }
    }

    .hero__content {
        width: 50%;
        float: right;
        text-align: left;
        position: absolute;
        top: 230px;
        right: 0;
        z-index: 10;
        @media screen and (max-width: $tablet){
            width: 100%;
            float: none;
            text-align: left;
            position: relative;
            top: auto;
            right: auto;
            padding: 0 30px;
            display: block;
            text-align: center;
        }
    }
    
    .hero__title {
        font-size: 3.75em;
        font-weight: $medium;
        text-transform: uppercase;
        @media screen and(max-width: $mobile){
            font-size: 1.8em;
            margin-bottom: 5px;
        }
    }

    .hero__text {
        font-size: 1.1em;
        line-height: 27px;
        padding-left: 5px;
        margin-bottom: 15px;
    }

    .hero__button {
        margin-left: 5px;
    }

}

// About
.about {
    text-align: center;
    padding: 100px 0 250px;
    color: white;
    background: $primary-color image-url('about.jpg') center bottom no-repeat;
    .about__title {
        display: inline-block;
        font-size: 1.5em;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 25px;
        margin-bottom: 40px;
        &:after {
            display: block;
            content: '';
            height: 9px;
            position: absolute;
            bottom: 0;
            right: 7px;
            left:  7px;
            background-color: #e03a6a;
        }
    }
    .about__text {
        font-size: 1.25em;
        line-height: 28px;
        max-width: 75%;
        margin: 0 auto;
        @media screen and(max-width: $mobile){
            font-size: 1em;
        }
    }
}

// Products
.products {
    text-align: center;
    padding-bottom: 100px;
    @media screen and(max-width: $tablet){
        padding-bottom: 10px;
    }

    .products__slider {
        margin-bottom: 70px;
        @media screen and(max-width: $mobile){
            margin-bottom: 50px;
        }
    }

    .products__title {
        text-transform: uppercase;
        color: $medium-color;
        margin-bottom: 30px;
    }
    
    .products__info {
        padding: 5px 0;

        .products__info--name {
            font-size: 1em;
            color: $medium-color;
        }
        .products__info--price {
            display: block;
            padding: 10px 0 5px 0;
            font-size: 1.2em;
            color: $dark-color;
        }
        .products__button {
            padding: 11px 35px;
            margin-bottom: 10px;
            visibility: hidden;
            @include opacity(0);
            .products__button--icon {
                position: relative;
                top: 10px;
                left: -8px;
            }
        }

    }

    .products__item {
        padding: 15px 20px 20px;
        text-align: center;
        background-color: white;
        @include transition(all 0.3s $ease);
        .products__category {
            color: #cfcfcf;
            font-size: 0.7em;
            font-weight: $bold;
            text-align: left; 
            text-transform: uppercase;
        }
        .products__photo {
            display: block;
            margin: 40px auto 0 auto;
        }
        &:hover {
            @include box-shadow(0px 20px 30px 0px rgba(0, 0, 0, 0.15));
            .products__button {
                visibility: visible;
                @include opacity(1);
            }
        }
    }
}

// Filter
.filter {
    text-transform: uppercase;
    .filter__wrapper {
        padding: 25px 0;
        margin-bottom: 120px;
        border-bottom: 1px solid #cdcdcd;
        @media screen and (max-width: $tablet){
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
        }
    } 

    .filter__set {
        border: none;
        display: inline-block;
        margin-right: 60px;
        padding: 0 0 10px 0;
        @media screen and(max-width: $mobile){
            margin-bottom: 20px;
        }
    }

    .filter__title {
        display: inline-block;
        font-weight: $medium;
        color: $dark-color;
        padding-right: 20px;
        @media screen and (max-width: $tablet){
            min-width: 120px;
        }
    }

    .filter__checkbox {
        position: relative;
        top: 7px;
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-right: 13px;
        border: 3px solid #cdcdcd;
        background-color: white;
        @include border-radius(4px);
        &:before {
            content: '';
            position: absolute;
            font-size: 20px;
            top: -1px;
            left: 3px;
        }
    }

    .filter__label {
        cursor: pointer;
        position: relative;
        margin-right: 40px;
        @media screen and (max-width: $tablet){
            display: inline-block;
            min-width: 140px;
        }
        input {
            display: none;
        }
        &:hover,
        &.selected {
            color: $dark-color;
            .filter__checkbox {
                border-color: $dark-color;
            }
        }
        &.selected {
            .filter__checkbox:before {
                content: '✓';
            }
        }
    }

    .filter__button {
        position: absolute;
        top: 25px;
        right: 0;
        padding: 15px 40px;
        @include border-radius(30px);
        @media screen and (max-width: $tablet){
            top: 45px;
            right: 20px;
        }
        @media screen and(max-width: $mobile){
            display: block;
            position: relative;
            top: auto;
            right: auto; 
        }
    }
}

// Buttons
.button {
    font-size: 0.8em;
    font-weight: $medium;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 12px 30px;
    min-width: 200px;
    @include border-radius(30px);
    &.primary-button {
        display: inline-block;
        background-color: $primary-color;
        &:hover {
            background-color: darken($primary-color, 15%);
        }
    }
    &.secundary-button {
        background-color: $secundary-color;
        &:hover {
            background-color: darken($secundary-color, 15%);
        }
    }
}








