// Footer

#footer {
	text-align: center;
	padding: 45px 0;
	background-color: #e2e2e2;

	.footer__text {
		display: inline-block;
		color: $medium-color;
		line-height: 60px; 
		.footer__logo {
			margin-right: 15px;
		}
		@media screen and(max-width: $mobile){
			font-size: 1em;
			line-height: auto;
			.footer__logo {
				display: block;
				margin: 0 auto;
			}
		}
	}

}
