// Header

#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 35px 0;
	max-height: 130px;
	z-index: 20;
	$space-between: 160px;
	@media screen and (min-width: $page-width + ($space-between * 2)){
		padding-left: $space-between;
		padding-right: $space-between;
	}
	@media screen and (max-width: $desktop){
		padding-left: 20px;
		padding-right: 20px;
	}
	&.scrolled {
		background-color: $primary-color;
		padding-bottom: 10px;
		padding-top: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
		.header__logo {
			@include transform(scale(0.8));
		}
		.icon-cart-secundary {
			position: relative;
			top: 2px;
		}
	}
}

// Logo
.header__logo {
	float: left;
}

// Menu
.header__menu {
	float: right;
	@media screen and (max-width: $mobile){
		display: none;
	}
    > ul {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        padding: 10px 0;
        position: relative;
        box-sizing: border-box;
        &:before,
        &:after {
            content: '';
            display: table;
        }
        &:after {
            clear: both;
        }
        > li {
            float: left;
            margin: 0 5px;
            @include border-radius(30px);
            a {
            	display: block;
                padding: 10px;
                color: $primary-color;
                font-weight: $medium;
                text-decoration: none;
                text-transform: uppercase;
                @include transition(none);
                .scrolled & {
                	color: white;
                }
            }
            &:hover {
               	background: $primary-color;
               	a {
               		color: white;
               	}
            }
            &.header--menu__last-item {
            	padding-left: 35px;
            	a {
            		padding: 0;
            	}
        		&:hover {
        			background-color: transparent;
        		}
            }
        }
    }

    &.opened {
    	display: block;
    	position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    padding-top: 100px;
	    padding-bottom: 40px;
	    z-index: -1;
	    background-color: $primary-color;
	    .scrolled & {
	    	padding-top: 70px;
	    }
		@media screen and (max-width: $desktop){
			li {
				float: none;
				display: block;
			    width: 100%;
			    text-align: center;
			    font-size: 1.5em;
			    padding: 10px 0;
			    &.header--menu__last-item {
			    	display: none;
			    }
			    a {
			    	color: white;
			    }
			}
		}
    }
}

.header__pull-menu {
	display: none;
	position: absolute;
    top: 50px;
    right: 20px;
    color: white;
    font-size: 1.4em;
    @include transition(none);
    .scrolled & {
	    top: 30px;
	    font-size: 1.2em;
    }
	@media screen and (max-width: $mobile){
		display: block;
	}
}