// Reset

* {
	margin: 0;
	padding: 0;
	font-style: inherit;
	@include box-sizing(border-box);
}

body,
html {
	font: {
		family: $base-font-family;
		size: $base-font-size;
		weight: $regular;
	}
	color: $base-font-color;
    background-color: $light-color;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

a {
	text-decoration: none;
	@include transition(all 0.2s $ease);
}

input, button, textarea, a {
	outline: none;
}

img {
	border: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $regular;
}

header, footer, nav, aside, section, article {
	display: block;
}

strong {
	font-weight: $bold;
}
