// |------------------------------------------------------
// |------------------------------------------------------
// | Variables
// |------------------------------------------------------
// |------------------------------------------------------

// Colours 
$primary-color: 					#542d4c; // Purple
$secundary-color: 					#70d6b8; // Green

$light-color: 						#f7f7f7; // Gray
$medium-color: 						#666666; // Gray Dark
$dark-color: 						#000000; // Black

// Forms
$input-border: 						#dfdfdf;
$input-radius: 						4px;

// Fonts
$base-font-family:              	'Rubik';
$base-font-size:              		16px;
$base-font-color:              		#777;

// Variations
$regular:                           400;
$medium:                            500;
$bold:                              700;

// Sizes
$mobile: 							480px;
$tablet:    						768px;
$desktop:    						960px;

// Pages
$page-width: 						1200px;

// Effects
$ease: 								cubic-bezier(0.25, 0.1, 0.25, 1);


