// |------------------------------------------------------
// |------------------------------------------------------
// | Title: Application CSS
// | Author: Wallace Erick
// | Author URI: http://wallaceerick.com.br/
// | Version: 1.0
// |------------------------------------------------------
// |------------------------------------------------------

// Libraries
@import "compass",
		"gridle/gridle",
		"mixins/mixins";

// Config 
@import "modules/variables";

// Gridle
@include gridle_register_state('mobile',    (max-width: $mobile));
@include gridle_register_state('tablet',    (max-width: $tablet));
@include gridle_register_state('landscape', (orientation: landscape));

// Modules 
@import "modules/variables",
		"modules/reset",
		"modules/helpers",
		"modules/header",
		"modules/footer";

// Pages
@import "pages/global";

// Partials
@import "partials/loader",
		"partials/carousel";

// Sprites 
@import "sprites/sprite";
