// |------------------------------------------------------
// |------------------------------------------------------
// | Carousel
// |------------------------------------------------------
// |------------------------------------------------------

.owl-carousel { 
    .animated {
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .owl-animated-in { 
        z-index: 0; 
    }
    .owl-animated-out {
        z-index: 1;
    }
    .fadeOut {
        -webkit-animation-name: fade-out;
        animation-name: fade-out;
    }
}

// Auto Height Plugin
.owl-height {
    @include transition(height 500ms ease-in-out);
}

// Core
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    &.owl-loaded {
        display: block;
    }
    &.owl-loading {
        opacity: 0;
        display: block;
    }
    &.owl-hidden {
        opacity: 0;
    }
    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        padding: 20px 20px 50px 20px;
        margin-left: -20px;
        margin-right: -10px;
        -webkit-transform: translate3d(0px, 0px, 0px);
        @media screen and(max-width: $mobile){
            padding-bottom: 25px;
        }
    }

    // Controls 
     .owl-controls {
        display: block;
        width: 100%;
        text-align: center;
        .owl-nav .owl-prev,
        .owl-nav .owl-next,
        .owl-dot {
            cursor: pointer;
            cursor: hand;
            @include user-select(none);
        }
        .owl-dot {
            $bullet-color: #cdcdcd;
            display: inline-block;
            margin: 0 5px;
            width: 17px;
            height: 17px;
            border: 3px solid $light-color;
            background-color: $bullet-color;
            @include border-radius(100%);
            &:hover {
                background-color: darken($bullet-color, 10%);
            }
            &.active {
                border-color: $bullet-color;
                background-color: white;
            }
        }
    }

    .owl-refresh .owl-item {
        display: none;
    }

    // Item
    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        @include user-select(none);
        img {
            display: block;
            width: 100%;
            -webkit-transform-style: preserve-3d;
        }
    }
    &.owl-text-select-on .owl-item {
        @include user-select(auto);
    }

    .owl-grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }
    &.owl-rtl {
      direction: rtl;
    }
    &.owl-rtl .owl-item {
      float: right;
    }
}

// No JS
.no-js .owl-carousel {
    display: block;
}

// Lazy Load 
.owl-carousel {
    .owl-item {
        .owl-lazy {
            @include opacity(0);
            @include transition(opacity 400ms ease);
        }
        img {
            transform-style: preserve-3d;
        }
    }
}

// Video
.owl-carousel {
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }
    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: image-url('play.png') no-repeat;
        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        @include transition(scale 100ms ease);
        &:hover {
            @include transition(scale(1.3, 1.3));
        }
    }
    .owl-video-playing {
        .owl-video-tn,
        .owl-video-play-icon {
            display: none;
        }
    }
    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        @include background-size(contain);
        @include transition(opacity 400ms ease);
    }
    .owl-video-frame {
        position: relative;
        z-index: 1;
    }
}