// |------------------------------------------------------
// |------------------------------------------------------
// | Loader
// |------------------------------------------------------
// |------------------------------------------------------

body {
	display: none;
}

#jpreOverlay {
	background-color: rgba(255, 255, 255, 0.95);
}

#jpreSlide {
	display: none;
}

#jpreLoader {
	top: 0!important;
	left: 0!important;
	width: 100%;
	height: 100%;
}

#jpreBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px!important;
	background-color: $primary-color;
}

#jpreLogo {
	display: none;
}

#jprePercentage {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	color: $primary-color;
	text-align: right;
	font-size: 40px;
	letter-spacing: -5px;
}

#jpreButton {
	display: none;
	cursor: pointer;
	display: inline-block!important;
    background: $primary-color;
	color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -60px;
    padding: 10px 40px;
    height: auto!important;
    @include border-radius(5px);
}